<h1><%= pluralize(@projects.size, "Project") %></h1>

<%= link_to "Add New Project", new_project_path %>

<% @projects.each do |project| %>
  <article>
    <header>
      <h2><%= link_to project.name, project %></h2>
    </header>
    <p>
    <%= truncate(project.description, length: 150, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>
          Goal:
        </th>
        <td>
          <%= number_to_currency(project.target_pledge_amount) %>
        </td>
      </tr>
      <tr>
        <th>
          Ends:
        </th>
        <td>
          <%= format_pledging_ends_on (project) %>
        </td>
      </tr>
      <tr>
        <th>
          Website:
        </th>
        <td>
          <%= link_to project.website, project.website %>
        </td>
      </tr>
    </table>
  </article>
  <% end %>

  <%= render 'footer' %>
