<article id="project" class="project">
  <header>
    <%= image_for(@project) %>
    <h1><%= @project.name %></h1>
    <h2><%= format_pledging_ends_on(@project) %></h2>
  </header>
  <p>
    <%= @project.description %>
  </p>
  <h3>Remaining Goal</h3>
  <p>
    <%= format_goal(@project) %>
  </p>
  <h3>Website</h3>
  <p>
    <%= @project.website %>
  </p>
  <h3>Team Members</h3>
  <p>
    <%= @project.team_members %>
  </p>
  <%= link_to pluralize(@project.pledges.count, "Pledge"), project_pledges_url(@project) %>
  <footer>
    <% unless @project.funded? %>
      <%= link_to "Pledge!", new_project_pledge_path(@project), class: "button ok" %>
    <% end %>
    <nav>
      <%= link_to "Edit", edit_project_path, class: 'button' %> |
      <%= link_to "Delete", @project, class: 'button', method: :delete, data: { confirm: "Are you sure?" } %>
    </nav>
  </footer>
</article>
