<article>
  <header>
    <h1><%= @project.name %></h1>
  </header>
  <h2>Description</h2>
  <p>
    <%= @project.description %>
  </p>
  <h3>Goal</h3>
  <p>
    <%= number_to_currency(@project.target_pledge_amount) %>
  </p>
  <h3>Team Members</h3>
  <p>
    <%= @project.team_members %>
  </p>
  <h3>Ends</h3>
  <p>
    <%= format_pledging_ends_on(@project) %>
  </p>
  <h3>Website</h3>
  <p>
    <%= @project.website %>
  </p>
  <h3>Image</h3>
  <p>
    <%= image_for(@project) %>
  </p>
</article>

<%= link_to "All Projects", projects_path %> |
<%= link_to "Edit", edit_project_path %> |
<%= link_to "Delete", @project, method: :delete, data: { confirm: "Are you sure?" } %>

<%= render 'footer' %>
